// src/app/globals.scss
@import "../styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-main;
  background-color: $color-light-bg;
  color: #2d3748;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input, textarea, select {
  font-family: inherit;
  outline: none;
}